* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* Universal Nav Bar Elements */
nav {
    background-color: rgb(228, 228, 228);
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.name {
    padding-left: 20px;
    font-size: 30px;
}

.nav-links {
    display: flex;
    padding-right: 20px;
}

.links {
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
}

.active {
    color: black;
    margin: 15px;
    font-size: 25px;
}

/* Universal Body */
body {
    padding-top: 80px;
    background-color: #738c98;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* Home Page */
#home-page {
    color: whitesmoke;
    padding-top: 10px;
    justify-content: center;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.top {
    height: 100px;
    padding-top: 10px;
    margin: 10px;
}

.head2 {
    font-weight: lighter;
    padding-top: 20px;
}

.bottom {
    height: 400px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    height: 300px;
    margin: 10px;
    text-align: center;
}

.head3 {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 


/* About Page */
#about-page {
    color: whitesmoke;
    margin: 20px 30px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head4 {
    line-height: 1.25;
    font-size: 25px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 80px;
}

.about-title {
    font-size: 35px;
    padding-top: 10px;
}

.about {
    display: flex;
    padding-top: 10px;
    padding-right: 40px;
    justify-content: center;
    width: 100%;
}

.text-container {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

.text {
    margin-bottom: 10px;
    width: fit-content;
}

.about-image {
    height: 200px;
    width: 225px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    object-fit: cover;
    object-position: 20% 80%;
    background-color: black;
    margin-right: 20px;
    margin-bottom: 20px;
}


.about:nth-child(odd) {
    flex-direction: row-reverse;
}

.about-title:nth-child(even) {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

/* Portfolio Page */
#port-page {
    color: whitesmoke;
    min-height: 100vh;
    max-width: 100%;
    box-shadow: 0 0 12px -2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
    width: 80vw;
    padding: 20px;
    background-color: rgb(42, 75, 98);
    margin-left: 10%;
}

.project-container {
    display: flex;
    width: 80%;
    background-color: #fafafa;
    color: black;
    margin: 30px auto;
    padding: 1em;
    padding-bottom: 20px;
    flex-wrap: wrap;  
}

.head5 {
    line-height: 1.25;
    font-size: 30px;
    padding-bottom: 20px;
    color: whitesmoke;
    left: 0;
}

.port-title {
    font-size: 35px;
    padding-top: 10px;
    height: 60px;
    border-bottom: solid black 2px;
}

.img-and-text {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: fit-content;
}

.port-image {
        height: 200px;
        width: 225px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        object-fit: cover;
        object-position: 20% 80%;
        background-color: black;
        margin-right: 10px;
    }

    .text-container2 {
        font-size: 18px;
        width: 100%;
    }    

/* Contact Form Page */
#form-page {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: whitesmoke;
    min-height: 100vh;
    box-shadow: 0 0 12px -2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head6 {
    font-size: 25px;
    padding-bottom: 30px;
}

.form-container {
    width: 400px;
    height: 550px;
    background-color: rgb(42, 75, 98);
    padding: 40px 50px 0 50px;
    color: whitesmoke;
}

.input {
    width: 280px;
    margin: 5px 0 15px;
    height: 25px;
}

/* !!! Want to adjust text to top left of message box. */
#message {
    height: 150px;
    vertical-align: top;
    text-align: left;
}

.submit {
    width: 75px;
}
.submit:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.done {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: whitesmoke;
    min-height: 100vh;
    box-shadow: 0 0 12px -2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Footer and Social Icons */
footer {
    height: 80px;
    width: 100%;
    background-color: lightgrey;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.socials {
    margin-left: 40px;
}

.fa {
    padding: 20px;
    font-size: 70px;
    height: 60px;
    width: 60px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .fa-instagram {
    color: white;
    background: #e95950;
  }

  .fa-linkedin {
    color: white;
    background: #0A66C2;
  }

  /* Media Inquiries*/
  @media only screen and (max-width: 750px) {
    .links {
        margin: 5px;
        font-size: 15px;
    }
    .active {
        margin: 5px;
        font-size: 15px;
    }
    .name {
        font-size: 20px;
    }
    .head3 {
        font-size: 30px;
    }

    .about {
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .img-and-text {
        flex-flow: column wrap;
    }
  }

  @media only screen and (min-width: 950px) {
    .page {
        width: 80%;
        max-width: 950px;
        margin: 0 auto;
    }
  }